.popup-card{
    border: 3px solid #a8a8a8;
    width: 200px;
    height: 100px;
    background-color: whitesmoke;
    border-radius: 5px;

    .popup-options{
        list-style: none;
        
        .pop-option{
            cursor: pointer;
        }
    }
}